/PNG/trabajar-ramas-git.png
/PNG/terminal_status.png
/PNG/terminal_commit.png
/PNG/terminal_commit.png
/PNG/terminal_log_oneline.png
/PNG/terminal_git_branch.png
PNG/graph.png
PNG/terminal_log.png
PNG/prompt.png
PNG/branches.webp